@font-face {
  font-family: "terraria";
  src: url("/font/andy.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  font-family: "terraria",sans-serif;
  overflow: hidden;
}
footer{
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 5px;
  padding-top: 2px;
}
footer div{
  display: flex;
  align-items: center;
  justify-content: center;
}
footer div a{
  max-width: 0px;
  overflow-x: hidden;
  white-space: nowrap;
  transition: 0.5s;
}
footer div:hover a{
  max-width: 200px;
}
.legend{
  position: absolute;
  top: -10px;
  right: 0px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 5px;
  padding-top: 0px;
}
.legend div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.legend div p{
  max-width: 0px;
  overflow-x: hidden;
  white-space: nowrap;
  transition: 0.5s;
}
.legend div:hover p{
  max-width: 100px;
}
.app{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: background 1s ease-in-out;
}
.stage-select{
  margin-top: 80px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stages-preview{
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stage{
  width: 100%;
}
.current-stage{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.class-select{
  padding-top: 50px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;

  padding-bottom: 20px;
  border-bottom: 2px solid white;
}
.btn{
  border-radius: 10px;
  padding: 10px;
  font-size: max(1vw, 0.75em);
  transition: 0.3s;
  border: 2px solid;
  cursor: pointer;
  text-align: center;
  align-content: center;
}
.selected-btn{
  transform: scale(1.1);
}

.build{
  margin-top: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-template-rows: repeat(3, min-content); 
  grid-auto-flow: row column;
  grid-auto-flow: row;
  gap: 20px;
  width: min(100%,800px);
  height: fit-content;

  transition: grid 0.5s;
}
.first-child {
  grid-column: 1;
  grid-row: 1 / span 3;
  justify-self: end !important;
  align-self: center;
}

.second-child {
  grid-column: 2;
  grid-row: 1;

}

.third-child {
  grid-column: 2;
  grid-row: 2;

}

.fourth-child {
  grid-column: 2;
  grid-row: 3;

}
.build .container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: baseline;
  border: 2px solid white;
  transition: 0.5s;

  border-radius: 10px;
  position: relative;
  height: fit-content;
  margin: 10px;
  padding: 3px;
}
.build .container::before{
  content: attr(data-title);
  position: absolute;
  top: -15px;
  left: 20px;
  font-size: min(3vw,15px);
  padding: 3px 10px;
  background: inherit;
  border-radius: 10px;
}
.container .item{
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  animation: item-load 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.5) forwards;
}
.container .item .attributes{
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: fit-content;
  height:fit-content;

  transition: 0.3s;
  pointer-events: none;
  max-width: 0px;
  height: 0px;
  backdrop-filter: blur(4px);
}
.container .item .attributes .icon{
  font-size: 20px;
}
.container .item:hover img {
  filter: blur(4px); /* This will apply the blur to the image when hovering */
}
.container .item:hover .attributes{
  opacity: 1;

  max-width: 100%;
  margin: 5px 20px 20px 20px;
}
.img-container {
  position: relative;
  width: 300px; /* Set a fixed size for the container */
  height: 300px;
  overflow: hidden;
}

.img-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Smooth fade effect */
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-item.visible {
  opacity: 1; /* Make the current image visible */
  z-index: 1; /* Ensure the current image is on top */
}

.img-item.hidden {
  opacity: 0; /* Hide non-current images */
  z-index: 0;
}

img{
  max-width: 40px;
  filter: drop-shadow(-5px 0px 0px #161616);
}

.gradient-background-wrapper {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.gradient-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ff6347 0%, #ffd700 100%); /* Default gradient */
  opacity: 1;
  transition: 1s ease; /* Hardcoded transition */
}

.new-gradient {
  opacity: 0;
  transition: 1s ease; /* Hardcoded transition */
}

a{
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  background-color: transparent;

  &:focus {
    outline-color: #f8b195;
  }
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 3px;
  background: rgb(246, 114, 128);
  background: -webkit-linear-gradient(
    left,
    rgba(246, 114, 128, 1) 0%,
    rgba(192, 108, 132, 1) 50%,
    rgba(53, 92, 125, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(246, 114, 128, 1) 0%,
    rgba(192, 108, 132, 1) 50%,
    rgba(53, 92, 125, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#f67280",
    endColorstr="#355c7d",
    GradientType=1
  );
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  appearance: none;
  height: 3px;
  background: rgb(246, 114, 128);
  background: -moz-linear-gradient(
    left,
    rgba(246, 114, 128, 1) 0%,
    rgba(192, 108, 132, 1) 50%,
    rgba(53, 92, 125, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(246, 114, 128, 1) 0%,
    rgba(192, 108, 132, 1) 50%,
    rgba(53, 92, 125, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#f67280",
    endColorstr="#355c7d",
    GradientType=1
  );
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 3px;
  background: rgb(246, 114, 128);
  background: -moz-linear-gradient(
    left,
    rgba(246, 114, 128, 1) 0%,
    rgba(192, 108, 132, 1) 50%,
    rgba(53, 92, 125, 1) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(246, 114, 128, 1) 0%,
    rgba(192, 108, 132, 1) 50%,
    rgba(53, 92, 125, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(246, 114, 128, 1) 0%,
    rgba(192, 108, 132, 1) 50%,
    rgba(53, 92, 125, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#f67280",
    endColorstr="#355c7d",
    GradientType=1
  );
}

input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
border: 2px solid #f8b195;
border-radius: 50%;
height: 20px;
width: 20px;
position: relative;
bottom: 8px;
background: #222
  url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
  center no-repeat;
background-size: 50%;
box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
cursor: grab;
  
  &:active {
    cursor: grabbing;
  }
}


input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #f8b195;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 8px;
  background: #222
    url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
    center no-repeat;
  background-size: 50%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: grab;
  
  &:active {
    cursor: grabbing;
  }
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #f8b195;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 8px;
  background: #222
    url("http://codemenatalie.com/wp-content/uploads/2019/09/slider-thumb.png")
    center no-repeat;
  background-size: 50%;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: grab;
  
  &:active {
    cursor: grabbing;
  }
}

.pixel-perfect-4x {
  image-rendering: pixelated;
  scale: 6;
}

.pixel-perfect-2x {
  image-rendering: pixelated;
  scale: 2;
}
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr; /* Single column */
    grid-template-rows: repeat(4, min-content); /* Adjust to 4 rows */
    width: 100vw; /* Full viewport width */
  }

  .first-child {
    grid-column: 1;
    grid-row: 1; /* Moves to the first row */
    align-self: center;
    justify-self: center !important;
  }

  .second-child {
    grid-column: 1;
    grid-row: 2; /* Moves to the second row */
  }

  .third-child {
    grid-column: 1;
    grid-row: 3; /* Moves to the third row */
  }

  .fourth-child {
    grid-column: 1;
    grid-row: 4; /* Moves to the fourth row */
  }
  .build .container{
    width: 90%;
    margin: 0px 5%;
  }
}
@keyframes item-load {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}